body {
    margin: 0px;
    padding: 0px;
    background-color: #f9f2fb;
    animation: fadeInAnimation ease 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

li {
    list-style-type: none;
    padding: 10px 30px;
}

a {
    text-decoration: none;
}

#main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #f9f2fb;
    position: relative;
    background-image: url("../images/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right bottom;
}

nav {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: 'Abel', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f9f2fb;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
}

a:active {
    color: black;
}

.menu {
    display: flex;
}

.menu li a {
    padding: 10px 15px;
    color: #000000;
    font-size: 12px;
}

.logo {
    font-size: 25px;
    font-weight: bold;
    color: #000000;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
    .socials {
        position: absolute;
        left: 12%;
        bottom: 30%;
        display: flex;
    }
    .socials a {
        margin: 6px 12px;
    }

    .socials i {
        color: rgba(18, 17, 17, 0.4);
        font-size: 32px;
    }